<template>
  <v-container>
    <v-card class="mx-auto p-4" width="700" raised>
      <v-card-title>
        Get Caste Distribution for a particular State
      </v-card-title>
      <v-form ref="form" lazy-validation enctype="multipart/form-data">
        <v-select
          v-model="state.id"
          :items="states"
          item-text="title"
          item-value="id"
          menu-props="auto"
          label="Select State"
          hide-details
          single-line
        >
        </v-select>
        <br />
        <v-btn color="success" class="mr-4" @click="submit">
          Submit
        </v-btn>
      </v-form>
    </v-card>
    <br />
    <h1 class="title" v-if="loaded">{{ state.title }}</h1>
    <div class="Chart__container" v-if="loaded">
      <div class="Chart__title">
        Get Caste Distribution for a particular State
        <hr />
      </div>
      <div class="Chart__content">
        <bar-chart
          v-if="loaded"
          :chart-data="chartData"
          :options="options"
        ></bar-chart>
      </div>
    </div>
    <br />
  </v-container>
</template>

<script>
  import BarChart from '../charts/types/BarChart'
  export default {
    components: {
      BarChart,
    },
    props: {},
    data() {
      return {
        state: {
          id: '',
          title: ''
        },
        states: [],
        loaded: false,
        downloads: [],
        labels: [],
        data:[],
        radio:'',
        chartData:null,
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              },
              gridLines: {
                display: true
              }
            }],
            xAxes: [ {
              gridLines: {
                display: false
              }
            }]
          },
          legend: {
            display: false
          },
          responsive: true,
          maintainAspectRatio: false
        },
      }
    },
    mounted() {
      this.getStates()
    },
    methods: {
      getStates(){
        this.axios
          .get(`states`)
          .then(response => {
            this.states = response.data
          })
          .catch(error => {
            console.log(error)
          })
      },
      submit() {

          axios.get(`charts/${this.state.id}/caste-performance-state-wise`)
          .then(response => {
            console.log(response.data)
            //this.downloads = response.data.map(data => data.count)
            this.labels = response.data.labels;
            this.chartData = {
              labels: this.labels,
              datasets: [
                {
                  label: 'Paid Before Time',
                  borderColor: '#3CB371',
                  pointBackgroundColor: '#3CB371',
                  borderWidth: 1,
                  pointBorderColor: '#3CB371',
                  backgroundColor: '#3CB371',
                  data: response.data.beforeTimeData,
                },
                {
                  label: 'Paid On Time',
                  borderColor: '#4169E1',
                  pointBackgroundColor: '#4169E1',
                  borderWidth: 1,
                  pointBorderColor: '#4169E1',
                  backgroundColor: '#4169E1',
                  data: response.data.onTimeData,
                },
                {
                  label: 'Delayed Payment',
                  borderColor: '#FFC107',
                  pointBackgroundColor: '#FFC107',
                  borderWidth: 1,
                  pointBorderColor: '#FFC107',
                  backgroundColor: '#FFC107',
                  data: response.data.paidLateData,
                },
                {
                  label: 'Not Paid',
                  borderColor: '#DC143C',
                  pointBackgroundColor: '#DC143C',
                  borderWidth: 1,
                  pointBorderColor: '#DC143C',
                  backgroundColor: '#DC143C',
                  data: response.data.notPaidData,
                }
              ]
            };
            this.loaded = '1';
          })
          .catch(err => {
            this.errorMessage = err.response.data.error
            this.showError = true
          })
    },
  }
}
</script>
