<template>
  <v-container>
    <v-card class="mx-auto p-4" width="700" raised>
      <v-card-title>
        Complex Charts
      </v-card-title>
      <v-form ref="form" lazy-validation enctype="multipart/form-data">
        <v-select
          v-model="option.id"
          :items="first_inputs"
          item-text="title"
          item-value="id"
          menu-props="auto"
          label="Select Parameter for which chart is expected"
          hide-details
          single-line
        >
        </v-select>
        <v-select
          v-model="option.second_input_id"
          :items="second_inputs"
          item-text="title"
          item-value="id"
          menu-props="auto"
          label="Select Parameter for which chart is expected"
          hide-details
          single-line
        >
        </v-select>
        <br />
        <v-btn color="success" class="mr-4" @click="submit">
          Submit
        </v-btn>
      </v-form>
    </v-card>
    <br />
    <h1 class="title" v-if="loaded && options.second_input_id != 4">Individual Chart</h1>
    <div class="Chart__container" v-if="loaded">
      <div class="Chart__title">
        TEST
        <hr />
      </div>
      <div class="Chart__content">
        <bar-chart
          v-if="loaded"
          :chart-data="chartData"
          :options="options"
        ></bar-chart>
      </div>
    </div>
    <br />

    <h1 class="title" v-if="loaded_1 && loaded_2 && loaded_3 && options.second_input_id == 4">All Three Charts</h1>
    <div class="Chart__container" v-if="loaded_1">
      <div class="Chart__title">
        No. Of Loans
        <hr />
      </div>
      <div class="Chart__content">
        <bar-chart
          :chart-data="chartData1"
          :options="options"
        ></bar-chart>
      </div>
    </div>
    <br />
    <div class="Chart__container" v-if="loaded_2">
      <div class="Chart__title">
        Loan Amount Wise
        <hr />
      </div>
      <div class="Chart__content">
        <bar-chart
          :chart-data="chartData2"
          :options="options"
        ></bar-chart>
      </div>
    </div>
    <br />
    <div class="Chart__container" v-if="loaded_3">
      <div class="Chart__title">
        Repayment Status Wise
        <hr />
      </div>
      <div class="Chart__content">
        <bar-chart
          :chart-data="chartData3"
          :options="options"
        ></bar-chart>
      </div>
    </div>
    <br />
  </v-container>
</template>

<script>
  import BarChart from '../charts/types/BarChart'
  export default {
    components: {
      BarChart,
    },
    props: {},
    data() {
      return {
        option: {
          id: '',
          title: '',
          second_input_id:'',
        },
        first_inputs:[
          { title: 'Literacy Level', id:'1' },
          { title: 'Income Level', id:'2' },
          { title: 'Caste', id:'3' },
          { title: 'Religion', id:'4' },
          { title: 'State', id:'5' },
        ],
        second_inputs:[
          { title: 'No. Of Loans', id:'1' },
          { title: 'Amount Wise', id:'2' },
          { title: 'Repayment Status', id:'3' },
          { title: 'All Parameters', id:'4' },
        ],
        states: [],
        loaded: false,
        downloads: [],
        labels: [],
        data:[],
        radio:'',
        chartData:null,
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              },
              gridLines: {
                display: true
              }
            }],
            xAxes: [ {
              gridLines: {
                display: false
              }
            }]
          },
          legend: {
            display: false
          },
          responsive: true,
          maintainAspectRatio: false
        },
        loaded_1:false,
        loaded_2:false,
        loaded_3:false,
        chartData1:null,
        chartData2:null,
        chartData3:null,
      }
    },
    mounted() {
    },
    methods: {
      submit() {
        if(this.option.id == 1)
        {
          if(this.option.second_input_id == 1)
          {
            axios.get(`charts/all-literacy-level-loan-count`)
            .then(response => {
              //console.log(response.data)
              //this.downloads = response.data.map(data => data.count)
              this.labels = response.data.labels;
              this.chartData = {
                labels: this.labels,
                datasets: [
                  {
                    label: 'No. Of Loans',
                    borderColor: '#3CB371',
                    pointBackgroundColor: '#3CB371',
                    borderWidth: 1,
                    pointBorderColor: '#3CB371',
                    backgroundColor: '#3CB371',
                    data: response.data.data,
                  },
                ]
              };
              this.loaded = '1';
            })
            .catch(err => {
              this.errorMessage = err.response.data.error
              this.showError = true
            })
          }
          else if(this.option.second_input_id == 2)
          {
            axios.get(`charts/all-literacy-level-loan-amount`)
            .then(response => {
              //console.log(response.data)
              //this.downloads = response.data.map(data => data.count)
              this.labels = response.data.labels;
              this.chartData = {
                labels: this.labels,
                datasets: [
                  {
                    label: 'Loan Amount',
                    borderColor: '#3CB371',
                    pointBackgroundColor: '#3CB371',
                    borderWidth: 1,
                    pointBorderColor: '#3CB371',
                    backgroundColor: '#3CB371',
                    data: response.data.data,
                  },
                ]
              };
              this.loaded = '1';
            })
            .catch(err => {
              this.errorMessage = err.response.data.error
              this.showError = true
            })
          }
          else if(this.option.second_input_id == 3)
          {
            axios.get(`charts/all-literacy-level-repayment-status`)
            .then(response => {
              console.log(response.data)
              //this.downloads = response.data.map(data => data.count)
              this.labels = response.data.labels;
              this.chartData = {
                labels: this.labels,
                datasets: [
                  {
                    label: 'Paid Before Time',
                    borderColor: '#3CB371',
                    pointBackgroundColor: '#3CB371',
                    borderWidth: 1,
                    pointBorderColor: '#3CB371',
                    backgroundColor: '#3CB371',
                    data: response.data.beforeTimeData,
                  },
                  {
                    label: 'Paid On Time',
                    borderColor: '#4169E1',
                    pointBackgroundColor: '#4169E1',
                    borderWidth: 1,
                    pointBorderColor: '#4169E1',
                    backgroundColor: '#4169E1',
                    data: response.data.onTimeData,
                  },
                  {
                    label: 'Delayed Payment',
                    borderColor: '#FFC107',
                    pointBackgroundColor: '#FFC107',
                    borderWidth: 1,
                    pointBorderColor: '#FFC107',
                    backgroundColor: '#FFC107',
                    data: response.data.paidLateData,
                  },
                  {
                    label: 'Not Paid',
                    borderColor: '#DC143C',
                    pointBackgroundColor: '#DC143C',
                    borderWidth: 1,
                    pointBorderColor: '#DC143C',
                    backgroundColor: '#DC143C',
                    data: response.data.notPaidData,
                  }
                ]
              };
              this.loaded = '1';
            })
            .catch(err => {
              this.errorMessage = err.response.data.error
              this.showError = true
            })
          }
          else if(this.option.second_input_id == 4)
          {
            axios.get(`charts/all-literacy-level-loan-count`)
            .then(response => {
              //console.log(response.data)
              //this.downloads = response.data.map(data => data.count)
              this.labels = response.data.labels;
              this.chartData1 = {
                labels: this.labels,
                datasets: [
                  {
                    label: 'No. Of Loans',
                    borderColor: '#3CB371',
                    pointBackgroundColor: '#3CB371',
                    borderWidth: 1,
                    pointBorderColor: '#3CB371',
                    backgroundColor: '#3CB371',
                    data: response.data.data,
                  },
                ]
              };
              this.loaded_1 = true;
            })
            .catch(err => {
              this.errorMessage = err.response.data.error
              this.showError = true
            })

            axios.get(`charts/all-literacy-level-loan-amount`)
            .then(response => {
              //console.log(response.data)
              //this.downloads = response.data.map(data => data.count)
              this.labels = response.data.labels;
              this.chartData2 = {
                labels: this.labels,
                datasets: [
                  {
                    label: 'Loan Amount',
                    borderColor: '#3CB371',
                    pointBackgroundColor: '#3CB371',
                    borderWidth: 1,
                    pointBorderColor: '#3CB371',
                    backgroundColor: '#3CB371',
                    data: response.data.data,
                  },
                ]
              };
              this.loaded_2 = true;
            })
            .catch(err => {
              this.errorMessage = err.response.data.error
              this.showError = true
            })
            axios.get(`charts/all-literacy-level-repayment-status`)
            .then(response => {
              console.log(response.data)
              //this.downloads = response.data.map(data => data.count)
              this.labels = response.data.labels;
              this.chartData3 = {
                labels: this.labels,
                datasets: [
                  {
                    label: 'Paid Before Time',
                    borderColor: '#3CB371',
                    pointBackgroundColor: '#3CB371',
                    borderWidth: 1,
                    pointBorderColor: '#3CB371',
                    backgroundColor: '#3CB371',
                    data: response.data.beforeTimeData,
                  },
                  {
                    label: 'Paid On Time',
                    borderColor: '#4169E1',
                    pointBackgroundColor: '#4169E1',
                    borderWidth: 1,
                    pointBorderColor: '#4169E1',
                    backgroundColor: '#4169E1',
                    data: response.data.onTimeData,
                  },
                  {
                    label: 'Delayed Payment',
                    borderColor: '#FFC107',
                    pointBackgroundColor: '#FFC107',
                    borderWidth: 1,
                    pointBorderColor: '#FFC107',
                    backgroundColor: '#FFC107',
                    data: response.data.paidLateData,
                  },
                  {
                    label: 'Not Paid',
                    borderColor: '#DC143C',
                    pointBackgroundColor: '#DC143C',
                    borderWidth: 1,
                    pointBorderColor: '#DC143C',
                    backgroundColor: '#DC143C',
                    data: response.data.notPaidData,
                  }
                ]
              };
              this.loaded_3 = true;
            })
            .catch(err => {
              this.errorMessage = err.response.data.error
              this.showError = true
            })
          }
        }
        else if(this.option.id == 2)
        {
          if(this.option.second_input_id == 1)
          {
            axios.get(`charts/all-income-level-loan-count`)
            .then(response => {
              //console.log(response.data)
              //this.downloads = response.data.map(data => data.count)
              this.labels = response.data.labels;
              this.chartData = {
                labels: this.labels,
                datasets: [
                  {
                    label: 'No. Of Loans',
                    borderColor: '#3CB371',
                    pointBackgroundColor: '#3CB371',
                    borderWidth: 1,
                    pointBorderColor: '#3CB371',
                    backgroundColor: '#3CB371',
                    data: response.data.data,
                  },
                ]
              };
              this.loaded = '1';
            })
            .catch(err => {
              this.errorMessage = err.response.data.error
              this.showError = true
            })
          }
          else if(this.option.second_input_id == 2)
          {
            axios.get(`charts/all-income-level-loan-amount`)
            .then(response => {
              //console.log(response.data)
              //this.downloads = response.data.map(data => data.count)
              this.labels = response.data.labels;
              this.chartData = {
                labels: this.labels,
                datasets: [
                  {
                    label: 'Loan Amount',
                    borderColor: '#3CB371',
                    pointBackgroundColor: '#3CB371',
                    borderWidth: 1,
                    pointBorderColor: '#3CB371',
                    backgroundColor: '#3CB371',
                    data: response.data.data,
                  },
                ]
              };
              this.loaded = '1';
            })
            .catch(err => {
              this.errorMessage = err.response.data.error
              this.showError = true
            })
          }
          else if(this.option.second_input_id == 3)
          {
            axios.get(`charts/all-income-level-repayment-status`)
            .then(response => {
              console.log(response.data)
              //this.downloads = response.data.map(data => data.count)
              this.labels = response.data.labels;
              this.chartData = {
                labels: this.labels,
                datasets: [
                  {
                    label: 'Paid Before Time',
                    borderColor: '#3CB371',
                    pointBackgroundColor: '#3CB371',
                    borderWidth: 1,
                    pointBorderColor: '#3CB371',
                    backgroundColor: '#3CB371',
                    data: response.data.beforeTimeData,
                  },
                  {
                    label: 'Paid On Time',
                    borderColor: '#4169E1',
                    pointBackgroundColor: '#4169E1',
                    borderWidth: 1,
                    pointBorderColor: '#4169E1',
                    backgroundColor: '#4169E1',
                    data: response.data.onTimeData,
                  },
                  {
                    label: 'Delayed Payment',
                    borderColor: '#FFC107',
                    pointBackgroundColor: '#FFC107',
                    borderWidth: 1,
                    pointBorderColor: '#FFC107',
                    backgroundColor: '#FFC107',
                    data: response.data.paidLateData,
                  },
                  {
                    label: 'Not Paid',
                    borderColor: '#DC143C',
                    pointBackgroundColor: '#DC143C',
                    borderWidth: 1,
                    pointBorderColor: '#DC143C',
                    backgroundColor: '#DC143C',
                    data: response.data.notPaidData,
                  }
                ]
              };
              this.loaded = '1';
            })
            .catch(err => {
              this.errorMessage = err.response.data.error
              this.showError = true
            })
          }
          else if(this.option.second_input_id == 4)
          {
            axios.get(`charts/all-income-level-loan-count`)
            .then(response => {
              //console.log(response.data)
              //this.downloads = response.data.map(data => data.count)
              this.labels = response.data.labels;
              this.chartData1 = {
                labels: this.labels,
                datasets: [
                  {
                    label: 'No. Of Loans',
                    borderColor: '#3CB371',
                    pointBackgroundColor: '#3CB371',
                    borderWidth: 1,
                    pointBorderColor: '#3CB371',
                    backgroundColor: '#3CB371',
                    data: response.data.data,
                  },
                ]
              };
              this.loaded_1 = true;
            })
            .catch(err => {
              this.errorMessage = err.response.data.error
              this.showError = true
            })

            axios.get(`charts/all-income-level-loan-amount`)
            .then(response => {
              //console.log(response.data)
              //this.downloads = response.data.map(data => data.count)
              this.labels = response.data.labels;
              this.chartData2 = {
                labels: this.labels,
                datasets: [
                  {
                    label: 'Loan Amount',
                    borderColor: '#3CB371',
                    pointBackgroundColor: '#3CB371',
                    borderWidth: 1,
                    pointBorderColor: '#3CB371',
                    backgroundColor: '#3CB371',
                    data: response.data.data,
                  },
                ]
              };
              this.loaded_2 = true;
            })
            .catch(err => {
              this.errorMessage = err.response.data.error
              this.showError = true
            })
            axios.get(`charts/all-income-level-repayment-status`)
            .then(response => {
              console.log(response.data)
              //this.downloads = response.data.map(data => data.count)
              this.labels = response.data.labels;
              this.chartData3 = {
                labels: this.labels,
                datasets: [
                  {
                    label: 'Paid Before Time',
                    borderColor: '#3CB371',
                    pointBackgroundColor: '#3CB371',
                    borderWidth: 1,
                    pointBorderColor: '#3CB371',
                    backgroundColor: '#3CB371',
                    data: response.data.beforeTimeData,
                  },
                  {
                    label: 'Paid On Time',
                    borderColor: '#4169E1',
                    pointBackgroundColor: '#4169E1',
                    borderWidth: 1,
                    pointBorderColor: '#4169E1',
                    backgroundColor: '#4169E1',
                    data: response.data.onTimeData,
                  },
                  {
                    label: 'Delayed Payment',
                    borderColor: '#FFC107',
                    pointBackgroundColor: '#FFC107',
                    borderWidth: 1,
                    pointBorderColor: '#FFC107',
                    backgroundColor: '#FFC107',
                    data: response.data.paidLateData,
                  },
                  {
                    label: 'Not Paid',
                    borderColor: '#DC143C',
                    pointBackgroundColor: '#DC143C',
                    borderWidth: 1,
                    pointBorderColor: '#DC143C',
                    backgroundColor: '#DC143C',
                    data: response.data.notPaidData,
                  }
                ]
              };
              this.loaded_3 = true;
            })
            .catch(err => {
              this.errorMessage = err.response.data.error
              this.showError = true
            })
          }
        }
        else if(this.option.id == 3)
        {
          if(this.option.second_input_id == 1)
          {
            axios.get(`charts/all-caste-loan-count`)
            .then(response => {
              //console.log(response.data)
              //this.downloads = response.data.map(data => data.count)
              this.labels = response.data.labels;
              this.chartData = {
                labels: this.labels,
                datasets: [
                  {
                    label: 'No. Of Loans',
                    borderColor: '#3CB371',
                    pointBackgroundColor: '#3CB371',
                    borderWidth: 1,
                    pointBorderColor: '#3CB371',
                    backgroundColor: '#3CB371',
                    data: response.data.data,
                  },
                ]
              };
              this.loaded = '1';
            })
            .catch(err => {
              this.errorMessage = err.response.data.error
              this.showError = true
            })
          }
          else if(this.option.second_input_id == 2)
          {
            axios.get(`charts/all-caste-loan-amount`)
            .then(response => {
              //console.log(response.data)
              //this.downloads = response.data.map(data => data.count)
              this.labels = response.data.labels;
              this.chartData = {
                labels: this.labels,
                datasets: [
                  {
                    label: 'Loan Amount',
                    borderColor: '#3CB371',
                    pointBackgroundColor: '#3CB371',
                    borderWidth: 1,
                    pointBorderColor: '#3CB371',
                    backgroundColor: '#3CB371',
                    data: response.data.data,
                  },
                ]
              };
              this.loaded = '1';
            })
            .catch(err => {
              this.errorMessage = err.response.data.error
              this.showError = true
            })
          }
          else if(this.option.second_input_id == 3)
          {
            axios.get(`charts/all-caste-repayment-status`)
            .then(response => {
              console.log(response.data)
              //this.downloads = response.data.map(data => data.count)
              this.labels = response.data.labels;
              this.chartData = {
                labels: this.labels,
                datasets: [
                  {
                    label: 'Paid Before Time',
                    borderColor: '#3CB371',
                    pointBackgroundColor: '#3CB371',
                    borderWidth: 1,
                    pointBorderColor: '#3CB371',
                    backgroundColor: '#3CB371',
                    data: response.data.beforeTimeData,
                  },
                  {
                    label: 'Paid On Time',
                    borderColor: '#4169E1',
                    pointBackgroundColor: '#4169E1',
                    borderWidth: 1,
                    pointBorderColor: '#4169E1',
                    backgroundColor: '#4169E1',
                    data: response.data.onTimeData,
                  },
                  {
                    label: 'Delayed Payment',
                    borderColor: '#FFC107',
                    pointBackgroundColor: '#FFC107',
                    borderWidth: 1,
                    pointBorderColor: '#FFC107',
                    backgroundColor: '#FFC107',
                    data: response.data.paidLateData,
                  },
                  {
                    label: 'Not Paid',
                    borderColor: '#DC143C',
                    pointBackgroundColor: '#DC143C',
                    borderWidth: 1,
                    pointBorderColor: '#DC143C',
                    backgroundColor: '#DC143C',
                    data: response.data.notPaidData,
                  }
                ]
              };
              this.loaded = '1';
            })
            .catch(err => {
              this.errorMessage = err.response.data.error
              this.showError = true
            })
          }
          else if(this.option.second_input_id == 4)
          {
            axios.get(`charts/all-caste-loan-count`)
            .then(response => {
              //console.log(response.data)
              //this.downloads = response.data.map(data => data.count)
              this.labels = response.data.labels;
              this.chartData1 = {
                labels: this.labels,
                datasets: [
                  {
                    label: 'No. Of Loans',
                    borderColor: '#3CB371',
                    pointBackgroundColor: '#3CB371',
                    borderWidth: 1,
                    pointBorderColor: '#3CB371',
                    backgroundColor: '#3CB371',
                    data: response.data.data,
                  },
                ]
              };
              this.loaded_1 = true;
            })
            .catch(err => {
              this.errorMessage = err.response.data.error
              this.showError = true
            })

            axios.get(`charts/all-caste-loan-amount`)
            .then(response => {
              //console.log(response.data)
              //this.downloads = response.data.map(data => data.count)
              this.labels = response.data.labels;
              this.chartData2 = {
                labels: this.labels,
                datasets: [
                  {
                    label: 'Loan Amount',
                    borderColor: '#3CB371',
                    pointBackgroundColor: '#3CB371',
                    borderWidth: 1,
                    pointBorderColor: '#3CB371',
                    backgroundColor: '#3CB371',
                    data: response.data.data,
                  },
                ]
              };
              this.loaded_2 = true;
            })
            .catch(err => {
              this.errorMessage = err.response.data.error
              this.showError = true
            })
            axios.get(`charts/all-caste-repayment-status`)
            .then(response => {
              console.log(response.data)
              //this.downloads = response.data.map(data => data.count)
              this.labels = response.data.labels;
              this.chartData3 = {
                labels: this.labels,
                datasets: [
                  {
                    label: 'Paid Before Time',
                    borderColor: '#3CB371',
                    pointBackgroundColor: '#3CB371',
                    borderWidth: 1,
                    pointBorderColor: '#3CB371',
                    backgroundColor: '#3CB371',
                    data: response.data.beforeTimeData,
                  },
                  {
                    label: 'Paid On Time',
                    borderColor: '#4169E1',
                    pointBackgroundColor: '#4169E1',
                    borderWidth: 1,
                    pointBorderColor: '#4169E1',
                    backgroundColor: '#4169E1',
                    data: response.data.onTimeData,
                  },
                  {
                    label: 'Delayed Payment',
                    borderColor: '#FFC107',
                    pointBackgroundColor: '#FFC107',
                    borderWidth: 1,
                    pointBorderColor: '#FFC107',
                    backgroundColor: '#FFC107',
                    data: response.data.paidLateData,
                  },
                  {
                    label: 'Not Paid',
                    borderColor: '#DC143C',
                    pointBackgroundColor: '#DC143C',
                    borderWidth: 1,
                    pointBorderColor: '#DC143C',
                    backgroundColor: '#DC143C',
                    data: response.data.notPaidData,
                  }
                ]
              };
              this.loaded_3 = true;
            })
            .catch(err => {
              this.errorMessage = err.response.data.error
              this.showError = true
            })
          }
        }
        else if(this.option.id == 4)
        {
          if(this.option.second_input_id == 1)
          {
            axios.get(`charts/all-religion-loan-count`)
            .then(response => {
              //console.log(response.data)
              //this.downloads = response.data.map(data => data.count)
              this.labels = response.data.labels;
              this.chartData = {
                labels: this.labels,
                datasets: [
                  {
                    label: 'No. Of Loans',
                    borderColor: '#3CB371',
                    pointBackgroundColor: '#3CB371',
                    borderWidth: 1,
                    pointBorderColor: '#3CB371',
                    backgroundColor: '#3CB371',
                    data: response.data.data,
                  },
                ]
              };
              this.loaded = '1';
            })
            .catch(err => {
              this.errorMessage = err.response.data.error
              this.showError = true
            })
          }
          else if(this.option.second_input_id == 2)
          {
            axios.get(`charts/all-religion-loan-amount`)
            .then(response => {
              //console.log(response.data)
              //this.downloads = response.data.map(data => data.count)
              this.labels = response.data.labels;
              this.chartData = {
                labels: this.labels,
                datasets: [
                  {
                    label: 'Loan Amount',
                    borderColor: '#3CB371',
                    pointBackgroundColor: '#3CB371',
                    borderWidth: 1,
                    pointBorderColor: '#3CB371',
                    backgroundColor: '#3CB371',
                    data: response.data.data,
                  },
                ]
              };
              this.loaded = '1';
            })
            .catch(err => {
              this.errorMessage = err.response.data.error
              this.showError = true
            })
          }
          else if(this.option.second_input_id == 3)
          {
            axios.get(`charts/all-religion-repayment-status`)
            .then(response => {
              console.log(response.data)
              //this.downloads = response.data.map(data => data.count)
              this.labels = response.data.labels;
              this.chartData = {
                labels: this.labels,
                datasets: [
                  {
                    label: 'Paid Before Time',
                    borderColor: '#3CB371',
                    pointBackgroundColor: '#3CB371',
                    borderWidth: 1,
                    pointBorderColor: '#3CB371',
                    backgroundColor: '#3CB371',
                    data: response.data.beforeTimeData,
                  },
                  {
                    label: 'Paid On Time',
                    borderColor: '#4169E1',
                    pointBackgroundColor: '#4169E1',
                    borderWidth: 1,
                    pointBorderColor: '#4169E1',
                    backgroundColor: '#4169E1',
                    data: response.data.onTimeData,
                  },
                  {
                    label: 'Delayed Payment',
                    borderColor: '#FFC107',
                    pointBackgroundColor: '#FFC107',
                    borderWidth: 1,
                    pointBorderColor: '#FFC107',
                    backgroundColor: '#FFC107',
                    data: response.data.paidLateData,
                  },
                  {
                    label: 'Not Paid',
                    borderColor: '#DC143C',
                    pointBackgroundColor: '#DC143C',
                    borderWidth: 1,
                    pointBorderColor: '#DC143C',
                    backgroundColor: '#DC143C',
                    data: response.data.notPaidData,
                  }
                ]
              };
              this.loaded = '1';
            })
            .catch(err => {
              this.errorMessage = err.response.data.error
              this.showError = true
            })
          }
          else if(this.option.second_input_id == 4)
          {
            axios.get(`charts/all-religion-loan-count`)
            .then(response => {
              //console.log(response.data)
              //this.downloads = response.data.map(data => data.count)
              this.labels = response.data.labels;
              this.chartData1 = {
                labels: this.labels,
                datasets: [
                  {
                    label: 'No. Of Loans',
                    borderColor: '#3CB371',
                    pointBackgroundColor: '#3CB371',
                    borderWidth: 1,
                    pointBorderColor: '#3CB371',
                    backgroundColor: '#3CB371',
                    data: response.data.data,
                  },
                ]
              };
              this.loaded_1 = true;
            })
            .catch(err => {
              this.errorMessage = err.response.data.error
              this.showError = true
            })

            axios.get(`charts/all-religion-loan-amount`)
            .then(response => {
              //console.log(response.data)
              //this.downloads = response.data.map(data => data.count)
              this.labels = response.data.labels;
              this.chartData2 = {
                labels: this.labels,
                datasets: [
                  {
                    label: 'Loan Amount',
                    borderColor: '#3CB371',
                    pointBackgroundColor: '#3CB371',
                    borderWidth: 1,
                    pointBorderColor: '#3CB371',
                    backgroundColor: '#3CB371',
                    data: response.data.data,
                  },
                ]
              };
              this.loaded_2 = true;
            })
            .catch(err => {
              this.errorMessage = err.response.data.error
              this.showError = true
            })
            axios.get(`charts/all-religion-repayment-status`)
            .then(response => {
              console.log(response.data)
              //this.downloads = response.data.map(data => data.count)
              this.labels = response.data.labels;
              this.chartData3 = {
                labels: this.labels,
                datasets: [
                  {
                    label: 'Paid Before Time',
                    borderColor: '#3CB371',
                    pointBackgroundColor: '#3CB371',
                    borderWidth: 1,
                    pointBorderColor: '#3CB371',
                    backgroundColor: '#3CB371',
                    data: response.data.beforeTimeData,
                  },
                  {
                    label: 'Paid On Time',
                    borderColor: '#4169E1',
                    pointBackgroundColor: '#4169E1',
                    borderWidth: 1,
                    pointBorderColor: '#4169E1',
                    backgroundColor: '#4169E1',
                    data: response.data.onTimeData,
                  },
                  {
                    label: 'Delayed Payment',
                    borderColor: '#FFC107',
                    pointBackgroundColor: '#FFC107',
                    borderWidth: 1,
                    pointBorderColor: '#FFC107',
                    backgroundColor: '#FFC107',
                    data: response.data.paidLateData,
                  },
                  {
                    label: 'Not Paid',
                    borderColor: '#DC143C',
                    pointBackgroundColor: '#DC143C',
                    borderWidth: 1,
                    pointBorderColor: '#DC143C',
                    backgroundColor: '#DC143C',
                    data: response.data.notPaidData,
                  }
                ]
              };
              this.loaded_3 = true;
            })
            .catch(err => {
              this.errorMessage = err.response.data.error
              this.showError = true
            })
          }
        }
        else if(this.option.id == 5)
        {
          if(this.option.second_input_id == 1)
          {
            axios.get(`charts/all-state-loan-count`)
            .then(response => {
              //console.log(response.data)
              //this.downloads = response.data.map(data => data.count)
              this.labels = response.data.labels;
              this.chartData = {
                labels: this.labels,
                datasets: [
                  {
                    label: 'No. Of Loans',
                    borderColor: '#3CB371',
                    pointBackgroundColor: '#3CB371',
                    borderWidth: 1,
                    pointBorderColor: '#3CB371',
                    backgroundColor: '#3CB371',
                    data: response.data.data,
                  },
                ]
              };
              this.loaded = '1';
            })
            .catch(err => {
              this.errorMessage = err.response.data.error
              this.showError = true
            })
          }
          else if(this.option.second_input_id == 2)
          {
            axios.get(`charts/all-state-loan-amount`)
            .then(response => {
              //console.log(response.data)
              //this.downloads = response.data.map(data => data.count)
              this.labels = response.data.labels;
              this.chartData = {
                labels: this.labels,
                datasets: [
                  {
                    label: 'Loan Amount',
                    borderColor: '#3CB371',
                    pointBackgroundColor: '#3CB371',
                    borderWidth: 1,
                    pointBorderColor: '#3CB371',
                    backgroundColor: '#3CB371',
                    data: response.data.data,
                  },
                ]
              };
              this.loaded = '1';
            })
            .catch(err => {
              this.errorMessage = err.response.data.error
              this.showError = true
            })
          }
          else if(this.option.second_input_id == 3)
          {
            axios.get(`charts/all-state-repayment-status`)
            .then(response => {
              console.log(response.data)
              //this.downloads = response.data.map(data => data.count)
              this.labels = response.data.labels;
              this.chartData = {
                labels: this.labels,
                datasets: [
                  {
                    label: 'Paid Before Time',
                    borderColor: '#3CB371',
                    pointBackgroundColor: '#3CB371',
                    borderWidth: 1,
                    pointBorderColor: '#3CB371',
                    backgroundColor: '#3CB371',
                    data: response.data.beforeTimeData,
                  },
                  {
                    label: 'Paid On Time',
                    borderColor: '#4169E1',
                    pointBackgroundColor: '#4169E1',
                    borderWidth: 1,
                    pointBorderColor: '#4169E1',
                    backgroundColor: '#4169E1',
                    data: response.data.onTimeData,
                  },
                  {
                    label: 'Delayed Payment',
                    borderColor: '#FFC107',
                    pointBackgroundColor: '#FFC107',
                    borderWidth: 1,
                    pointBorderColor: '#FFC107',
                    backgroundColor: '#FFC107',
                    data: response.data.paidLateData,
                  },
                  {
                    label: 'Not Paid',
                    borderColor: '#DC143C',
                    pointBackgroundColor: '#DC143C',
                    borderWidth: 1,
                    pointBorderColor: '#DC143C',
                    backgroundColor: '#DC143C',
                    data: response.data.notPaidData,
                  }
                ]
              };
              this.loaded = '1';
            })
            .catch(err => {
              this.errorMessage = err.response.data.error
              this.showError = true
            })
          }
          else if(this.option.second_input_id == 4)
          {
            axios.get(`charts/all-state-loan-count`)
            .then(response => {
              //console.log(response.data)
              //this.downloads = response.data.map(data => data.count)
              this.labels = response.data.labels;
              this.chartData1 = {
                labels: this.labels,
                datasets: [
                  {
                    label: 'No. Of Loans',
                    borderColor: '#3CB371',
                    pointBackgroundColor: '#3CB371',
                    borderWidth: 1,
                    pointBorderColor: '#3CB371',
                    backgroundColor: '#3CB371',
                    data: response.data.data,
                  },
                ]
              };
              this.loaded_1 = true;
            })
            .catch(err => {
              this.errorMessage = err.response.data.error
              this.showError = true
            })

            axios.get(`charts/all-state-loan-amount`)
            .then(response => {
              //console.log(response.data)
              //this.downloads = response.data.map(data => data.count)
              this.labels = response.data.labels;
              this.chartData2 = {
                labels: this.labels,
                datasets: [
                  {
                    label: 'Loan Amount',
                    borderColor: '#3CB371',
                    pointBackgroundColor: '#3CB371',
                    borderWidth: 1,
                    pointBorderColor: '#3CB371',
                    backgroundColor: '#3CB371',
                    data: response.data.data,
                  },
                ]
              };
              this.loaded_2 = true;
            })
            .catch(err => {
              this.errorMessage = err.response.data.error
              this.showError = true
            })
            axios.get(`charts/all-state-repayment-status`)
            .then(response => {
              console.log(response.data)
              //this.downloads = response.data.map(data => data.count)
              this.labels = response.data.labels;
              this.chartData3 = {
                labels: this.labels,
                datasets: [
                  {
                    label: 'Paid Before Time',
                    borderColor: '#3CB371',
                    pointBackgroundColor: '#3CB371',
                    borderWidth: 1,
                    pointBorderColor: '#3CB371',
                    backgroundColor: '#3CB371',
                    data: response.data.beforeTimeData,
                  },
                  {
                    label: 'Paid On Time',
                    borderColor: '#4169E1',
                    pointBackgroundColor: '#4169E1',
                    borderWidth: 1,
                    pointBorderColor: '#4169E1',
                    backgroundColor: '#4169E1',
                    data: response.data.onTimeData,
                  },
                  {
                    label: 'Delayed Payment',
                    borderColor: '#FFC107',
                    pointBackgroundColor: '#FFC107',
                    borderWidth: 1,
                    pointBorderColor: '#FFC107',
                    backgroundColor: '#FFC107',
                    data: response.data.paidLateData,
                  },
                  {
                    label: 'Not Paid',
                    borderColor: '#DC143C',
                    pointBackgroundColor: '#DC143C',
                    borderWidth: 1,
                    pointBorderColor: '#DC143C',
                    backgroundColor: '#DC143C',
                    data: response.data.notPaidData,
                  }
                ]
              };
              this.loaded_3 = true;
            })
            .catch(err => {
              this.errorMessage = err.response.data.error
              this.showError = true
            })
          }
        }
    },
  }
}
</script>
