<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-card class="mx-auto p-4" width="85%" raised>
        <v-card-title>
          Add NGO
          <v-spacer></v-spacer>
          <v-btn :to="{ name: 'ngos.index'}" class="mx-2" dark color="primary" fab small right style="text-decoration: none;">
            <v-icon dark>mdi-arrow-left</v-icon>
          </v-btn>
        </v-card-title>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-text-field
            v-model="ngo.name"
            label="Name"
            required
          ></v-text-field>

          <v-select
            v-model="ngo.state_id"
            :items="states"
            item-text = "title"
            item-value = "id"
            label="Select State"
            v-on:change = "getDistricts"
          ></v-select>

          <v-select
            v-if= "show_district == '1'"
            v-model="ngo.district_id"
            :items="districts"
            item-text = "title"
            item-value = "id"
            label="Select District"
          ></v-select>

          <v-select
            v-model="ngo.admin_id"
            :items="admins"
            item-text = "name"
            item-value = "id"
            label="Select Admin"
          ></v-select>

          <v-text-field
            v-model="ngo.darpan_unique_id"
            label="Darpan Unique ID"
            required
          ></v-text-field>

          <v-text-field
            v-model="ngo.achievements"
            label="Achievements"
          ></v-text-field>
          <v-select
            v-model="ngo.sectors"
            :items="ngo_sectors"
            item-text="title"
            item-value="id"
            label="Sectors"
            required
            multiple
          ></v-select>

          <v-btn
            :disabled="!valid"
            color="success"
            class="mr-4"
            @click="submit"
          >
            Submit
          </v-btn>
        </v-form>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data(){
    return{
      valid: true,
      ngo: {
        name: '',
        state_id:'',
        district_id:'',
        admin_id:'',
        darpan_unique_id:'',
        achievements:'',
        sectors:'',
      },
      admins: [],
      states: [],
      districts: [],
      show_district: '0',
      ngo_sectors:[],
    }
  },

  mounted(){
    this.getStates()
    this.getAdmins()
    this.getNgoSectors()
  },
  methods: {
    getNgoSectors() {
      axios.get('ngo-sectors')
      .then(response =>{
        this.ngo_sectors = response.data;
      })
      .catch(error => {
        console.log(error)
      })
    },
    getStates(){
      axios.get(`states`)
      .then(response => {
        this.states = response.data;
      })
      .catch(error => {
        console.log(error)
      })
    },
    getAdmins(){
      axios.get(`users/ngoAdmin`)
      .then(response => {
        this.admins = response.data;
      })
      .catch(error => {
        console.log(error)
      })
    },
    getDistricts(){
      axios.get(`states/${this.ngo.state_id}/districts`)
      .then(response => {
        this.districts = response.data;
        this.show_district = '1';
      })
      .catch(error => {
        console.log(error)
      })
    },

    submit() {
      this.errors = {};
      axios.post(`/ngos/store`, this.ngo)
      .then(response => {
        console.log("Message sent!");
        this.$router.push("/ngos");
      })
      .catch(error => {
        console.log("error");
      });
    }
  }
};
</script>
