<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-card class="mx-auto p-4" width="85%" raised>
        <v-card-title>
          NGOs
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
          <v-spacer></v-spacer>
          <v-btn :to="{ name: 'ngos.create'}" class="mx-2 d-none d-md-flex d-lg-flex d-xl-flex" dark color="primary" right style="text-decoration: none;">
            <v-icon dark>mdi-plus</v-icon>
          </v-btn>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="ngos"
          :search="search"
          class="elevation-1"
        ></v-data-table>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      search:'',
      headers: [
        {
          text: 'ID',
          align: 'start',
          sortable: true,
          value: 'id',
        },
        { text: 'Name', value: 'name' },
        { text: 'State', value: 'ngo_get_states.title'},
        { text: 'District', value: 'ngo_get_districts.title' },
        { text: 'Admin Email', value: 'ngo_get_admins.email' },
        { text: 'Darpan Unique ID', value: 'darpan_unique_id' },
        { text: 'Achievements', value: 'achievements' },
      ],
      ngos: []
    }
  },
  created(){
    this.$store.commit('SET_LAYOUT', 'app-layout')
  },
  mounted() {
    this.getNgos()
  },

  methods: {
    getNgos() {
      this.axios.get(`ngos`)
      .then(response =>{
        console.log(response.data);
        this.ngos = response.data;
      })
      .catch(error => {
        console.log(error);
      })
    }
  }
}
</script>
