<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-card class="mx-auto p-4" width="85%" raised>
        <v-card-title>
          Religion
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
          <v-spacer></v-spacer>
          <v-btn :to="{ name: 'religions.create'}" class="mx-2 d-none d-md-flex d-lg-flex d-xl-flex" dark color="primary" right style="text-decoration: none;">
            <v-icon dark>mdi-plus</v-icon>
          </v-btn>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="religions"
          :search="search"
          class="elevation-1"
        ></v-data-table>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      search:'',
      headers: [
        {
          text: 'ID',
          align: 'start',
          sortable: true,
          value: 'id',
        },
        { text: 'Title', value: 'title' },
        { text: 'Description', value: 'description' },
      ],
      religions: []
    }
  },
  created(){
    this.$store.commit('SET_LAYOUT', 'app-layout')
  },
  mounted() {
    this.getReligions()
  },

  methods: {
    getReligions() {
      this.axios.get(`religions`)
      .then(response =>{
        this.religions = response.data;
      })
      .catch(error => {
        console.log(error);
      })
    }
  }
}
</script>
