<template>
  <v-card class="mx-auto" width="85%" outlined>
    <v-card-title>
      View Literacy Level
      <v-spacer></v-spacer>
      <v-btn :to="{ name: 'literacy-levels.index'}" class="mx-2" fab dark small color="primary" right fab small style="text-decoration: none;">
        <v-icon dark>mdi-keyboard-backspace</v-icon>
      </v-btn>
    </v-card-title>
    <v-simple-table>
      <template v-slot:default>
          <thead>
            <tr>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="text-left">Title</th>
              <td>{{ literacy_level.title }}</td>
            </tr>
            <tr>
              <th class="text-left">Description</th>
              <td>{{ literacy_level.description }}</td>
            </tr>
          </tbody>
        </template>
    </v-simple-table>

  </v-card>
</template>

<script>
  export default {
    data() {
      return {
        literacy_level: {
          title: '',
          description: '',
        },
      }
    },
    mounted() {
      this.getLiteracyLevel();
    },

    methods: {
      getLiteracyLevel() {
        this.axios.get(`literacy-levels/${this.$route.params.id}/view`)
        .then(response => {
          this.literacy_level = response.data;
        })
        .catch(error => {
          console.log(error)
        })
      },
    }
  }
</script>
