<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-card class="mx-auto p-4" width="85%" raised>
        <v-card-title>
          Add Caste
          <v-spacer></v-spacer>
          <v-btn :to="{ name: 'castes.index'}" class="mx-2" dark color="primary" fab small right style="text-decoration: none;">
            <v-icon dark>mdi-arrow-left</v-icon>
          </v-btn>
        </v-card-title>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-text-field
            v-model="caste.title"
            label="Title"
            required
          ></v-text-field>

          <v-text-field
            v-model="caste.description"
            label="Description"
            required
          ></v-text-field>

          <v-btn
            :disabled="!valid"
            color="success"
            class="mr-4"
            @click="submit"
          >
            Submit
          </v-btn>
        </v-form>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data(){
    return{
      valid: true,
      caste: {
        title: "",
        description: ""
      }
    }
  },

  methods: {
    submit() {
      this.errors = {};
      axios.post(`/castes/store`, this.caste)
      .then(response => {
        console.log("Message sent!");
        this.$router.push("/castes");
      })
      .catch(error => {
        console.log("error");
      });
    }
  }
};
</script>
