<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-card class="mx-auto p-4" width="85%" raised>
        <v-card-title>
          Edit Loan Scheme
          <v-spacer></v-spacer>
          <v-btn :to="{ name: 'loan-schemes.index'}" class="mx-2" dark color="primary" fab small right style="text-decoration: none;">
            <v-icon dark>mdi-arrow-left</v-icon>
          </v-btn>
        </v-card-title>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-text-field
            v-model="loan_scheme.title"
            label="Title"
            required
          ></v-text-field>

          <v-text-field
            v-model="loan_scheme.description"
            label="Description"
            required
          ></v-text-field>

          <v-btn
            :disabled="!valid"
            color="success"
            class="mr-4"
            @click="submit"
          >
            Submit
          </v-btn>
        </v-form>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data(){
    return{
      valid: true,
      loan_scheme: {
        title: "",
        description: ""
      }
    }
  },
  created(){
    let url = process.env.MIX_APP_URL + `/api/loan-schemes/${this.$route.params.id}/edit`;
    axios.get(url)
    .then(response => {
      this.loan_scheme = response.data;
    })
    .catch(error => {
      console.log("error");
    })
  },

  methods: {
    submit() {
      this.errors = {};
      axios.put(`loan-schemes/${this.$route.params.id}/update`, this.loan_scheme)
      .then(response => {
        console.log("Message sent!");
        this.$router.push("/loan-schemes");
      })
      .catch(error => {
        console.log("error");
      });
    }
  }
};
</script>
