<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-card class="mx-auto p-4" width="85%" raised>
        <v-card-title>
          Create Self Help Group
          <v-spacer></v-spacer>
          <v-btn :to="{ name: 'self-help-groups.index'}" class="mx-2" dark color="primary" fab small right style="text-decoration: none;">
            <v-icon dark>mdi-arrow-left</v-icon>
          </v-btn>
        </v-card-title>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-select
            v-if = "$auth.user().role_id == '1' || $auth.user().role_id == '2' "
            v-model="self_help_group.ngo_id"
            :items="ngos"
            item-text = "title"
            item-value = "id"
            label="Select NGO"
          ></v-select>
          <v-text-field
            v-model="self_help_group.name"
            label="Name"
            required
          ></v-text-field>

          <v-select
            v-model="self_help_group.state_id"
            :items="states"
            item-text = "title"
            item-value = "id"
            label="Select State"
            v-on:change = "getDistricts"
          ></v-select>

          <v-select
            v-if= "show_district == '1'"
            v-model="self_help_group.district_id"
            :items="districts"
            item-text = "title"
            item-value = "id"
            label="Select District"
          ></v-select>
          <v-select
            v-model="self_help_group.admin_id"
            :items="admins"
            item-text = "name"
            item-value = "id"
            label="Select Admin"
          ></v-select>

          <v-text-field
            v-model="self_help_group.address"
            label="Address"
            required
          ></v-text-field>

          <v-btn
            :disabled="!valid"
            color="success"
            class="mr-4"
            @click="submit"
          >
            Submit
          </v-btn>
        </v-form>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data(){
    return{
      valid: true,
      self_help_group:{
        name:'',
        ngo_id:'',
        state_id:'',
        district_id:'',
        admin_id:'',
        address:'',
      },
      ngos:[],
      states:[],
      districts:[],
      admins:[],
      show_district:'0',
    }
  },

  created(){
    axios.get(`self-help-groups/${this.$route.params.id}/edit`)
    .then(response =>{
      this.self_help_group = response.data;
      axios.get(`states/${this.self_help_group.state_id}/districts`)
      .then(response =>{
        this.districts = response.data;
        this.show_district = '1';
      })
      .catch(error => {
        console.log(error)
      })
    })
    .catch(error =>{

    })
  },

  mounted(){
    this.getNgos()
    this.getStates()
    this.getSelfHelpGroupAdmins()
  },
  methods: {
    getNgos(){
      axios.get('ngos')
      .then(response =>{
        if(this.$auth.user().role_id == 1 || this.$auth.user().role_id == 2)
        {
          this.ngos = response.data;
        }
      })
      .catch(error =>{
        console.log(error);
      })
    },
    getStates(){
      axios.get(`states`)
      .then(response => {
        this.states = response.data;
      })
    },

    getDistricts(){
      axios.get(`states/${this.self_help_group.state_id}/districts`)
      .then(response => {
        this.districts = response.data;
        this.show_district = '1';
      })
      .catch(error =>{
        console.log(error)
      })
    },
    getSelfHelpGroupAdmins(){
      axios.get(`users/shgAdmin`)
      .then(response => {
        this.admins = response.data;
      })
      .catch(error => {
        console.log(error)
      })
    },
    submit() {
      this.errors = {};
      axios.put(`/self-help-groups/${this.$route.params.id}/update`, this.self_help_group)
      .then(response => {
        console.log("Message sent!");
        this.$router.push(`/self-help-groups`);
      })
      .catch(error => {
        console.log("error");
      });
    }
  }
};
</script>
