<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-card class="mx-auto p-4" width="85%" raised>
        <v-card-title>
          Self Help Groups
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
          <v-spacer></v-spacer>
          <v-btn :to="{ name: 'self-help-groups.create'}" class="mx-2 d-none d-md-flex d-lg-flex d-xl-flex" dark color="primary" right style="text-decoration: none;">
            <v-icon dark>mdi-plus</v-icon>
          </v-btn>
        </v-card-title>
        <v-data-table
          v-if = "$auth.user().role_id == 1 || $auth.user().role_id == 2"
          :headers="headers_admins"
          :items="self_help_groups"
          :search="search"
          class="elevation-1"
        ></v-data-table>
        <v-data-table
          v-else
          :headers="headers"
          :items="self_help_groups"
          :search="search"
          class="elevation-1"
        ></v-data-table>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      search:'',
      headers_admins: [
        {
          text: 'ID',
          align: 'start',
          sortable: true,
          value: 'id',
        },
        { text: 'Name', value: 'name' },
        { text: 'NGO', value: 'ngo_id' },
        { text: 'State', value: 'state_id'},
      ],
      headers: [
        {
          text: 'ID',
          align: 'start',
          sortable: true,
          value: 'id',
        },
        { text: 'Name', value: 'name' },
        { text: 'State', value: 'state_id'},
      ],
      self_help_groups: []
    }
  },
  created(){
    this.$store.commit('SET_LAYOUT', 'app-layout')
  },
  mounted() {
    this.getSelfHelpGroups()
  },

  methods: {
    getSelfHelpGroups() {
      this.axios.get(`self-help-groups`)
      .then(response =>{
        this.self_help_groups = response.data;
      })
      .catch(error => {
        console.log(error);
      })
    }
  }
}
</script>
