<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-card class="mx-auto p-4" width="85%" raised>
        <v-card-title>
          Add District
          <v-spacer></v-spacer>
          <v-btn :to="{ name: 'districts.index'}" class="mx-2" dark color="primary" fab small right style="text-decoration: none;">
            <v-icon dark>mdi-arrow-left</v-icon>
          </v-btn>
        </v-card-title>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-text-field
            v-model="district.title"
            label="Title"
            required
          ></v-text-field>

          <v-text-field
            v-model="district.description"
            label="Description"
            required
          ></v-text-field>

          <v-select
            v-model="district.state_id"
            :items="states"
            item-text = "title"
            item-value = "id"
            label="Select State"
          ></v-select>

          <v-btn
            :disabled="!valid"
            color="success"
            class="mr-4"
            @click="submit"
          >
            Submit
          </v-btn>
        </v-form>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data(){
    return{
      valid: true,
      district: {
        title: '',
        description: '',
        state_id:'',
      },
      states: [],
    }
  },

  mounted(){
    this.getStates()
  },
  methods: {
    getStates(){
      axios.get(`states`)
      .then(response => {
        this.states = response.data;
      })
      .catch(error => {
        console.log(error)
      })
    },
    submit() {
      this.errors = {};
      axios.post(`/districts/store`, this.district)
      .then(response => {
        console.log("Message sent!");
        this.$router.push("/districts");
      })
      .catch(error => {
        console.log("error");
      });
    }
  }
};
</script>
