<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-card
        class="mx-auto p-4"
        width="85%"
        raised
      >
      <v-card-title>
        Edit State
        <v-spacer></v-spacer>
        <v-btn :to="{ name: 'states.index'}" class="mx-2" dark color="primary" fab small right style="text-decoration: none;">
          <v-icon dark>mdi-arrow-left</v-icon>
        </v-btn>
      </v-card-title>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-text-field
          v-model="state.title"
          label="Title"
          required
        ></v-text-field>

        <v-text-field
          v-model="state.description"
          label="Description"
          required
        ></v-text-field>

        <v-btn
          :disabled="!valid"
          color="success"
          class="mr-4"
          @click="submit"
        >
          Submit
        </v-btn>
      </v-form>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data(){
      return{
        valid: true,
        state: {
          title: "",
          description: ""
        }
      }
    },

    created() {
        let url = process.env.MIX_APP_URL + `/api/states/${this.$route.params.id}/edit`;
        this.axios.get(url)
        .then(response => {
            this.state = response.data;
        })
        .catch(error =>{
          console.log(error)
        })
      },

    methods: {
      submit() {
        this.errors = {};
        axios.put(`/states/${this.$route.params.id}/update/`, this.state)
        .then(response => {
          console.log('Message sent!');
          this.$router.push('/states');
        })
        .catch(error => {
          console.log("error");
        });
      },
    },
  }
</script>
