<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-card class="mx-auto p-4" width="85%" raised>
        <v-card-title>
          Edit User
          <v-spacer></v-spacer>
          <v-btn :to="{ name: 'users.index'}" class="mx-2" dark color="primary" right fab small style="text-decoration: none;">
            <v-icon dark>mdi-arrow-left</v-icon>
          </v-btn>
        </v-card-title>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-text-field
            v-model="user.name"
            label="Name"
            required
          ></v-text-field>
          <br>
          <v-text-field
            v-model="user.email"
            label="Email"
            required
          ></v-text-field>
          <br>
          <v-text-field
            v-model="user.phone_number"
            label="Phone Number"
            required
          ></v-text-field>
          <br>
          <v-select
            v-model="user.role_id"
            label="Select Role"
            :items="roles"
            item-text="title"
            item-value="id"
          ></v-select>
          <v-btn
            :disabled="!valid"
            color="success"
            class="mr-4"
            @click="submit"
          >
            Submit
          </v-btn>
        </v-form>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data(){
    return{
      valid: true,
      user: {
        name: '',
        email: '',
        phone_number:'',
        role_id:''
      },
      roles:[],
    }
  },

  created(){
    let url = process.env.MIX_APP_URL + `/api/users/${this.$route.params.id}/edit`;
    this.axios.get(url)
    .then(response =>{
      this.user = response.data;
    })
    .catch(error =>{
      console.log(error);
    })
  },

  mounted(){
    this.getRoles();
  },
  methods: {
    getRoles(){
      this.axios.get(`roles`)
      .then(response =>{
        this.roles = response.data;
      })
      .catch(error =>{
        console.log(error);
      })
    },
    submit() {
      this.errors = {};
      axios.put(`users/${this.$route.params.id}/update`, this.user)
      .then(response => {
        this.$router.push("/users");
      })
      .catch(error => {
        console.log("error");
      });
    }
  }
};
</script>
