<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-card class="mx-auto p-4" width="85%" raised>
        <v-card-title>
          Import Users
          <v-spacer></v-spacer>
          <v-btn :to="{ name: 'users.index'}" class="mx-2" dark color="primary" right fab small style="text-decoration: none;">
            <v-icon dark>mdi-arrow-left</v-icon>
          </v-btn>
        </v-card-title>
        <label class="form-control-label"  for="input-file-import">Upload Excel File</label>
        <input type="file" class="form-control" :class="{ ' is-invalid' : new_error.message }" id="input-file-import" name="file_import" ref="import_file"  @change="onFileChange">
        <div v-if="this.message_error" class="invalid-feedback">
          {{ this.message_error }}
        </div>
        <br>
        <v-btn @click ="proceedAction" class="mx-2" dark color="primary" right fab small style="text-decoration: none;">Submit</v-btn>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data(){
    return{
      valid: true,
      new_error: '',
      import_file: '',
      rules: [
        value => !value || value.size < 2000000 || 'File size should be less than 2 MB!',
      ],
      file: {
        import_file:'',
      },
      message_error: false,
    }

  },

  mounted(){
  },
  methods: {
    onFileChange(e) {
        this.import_file = e.target.files[0];
        //console.log(this.import_file)
        this.file.import_file = this.import_file;
    },

    proceedAction() {
        let formData = new FormData();
        formData.append('import_file', this.file.import_file);
        axios.post('/users/import',formData,{
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        })
        .then(response => {
          console.log('SUCCESS!!');
          this.$router.push(`/users`)
        })
        .catch(errors => {
          this.uploading = false
          this.new_error = errors.response.data
          console.log(this.new_error.errors.import_file[0])
          this.message_error = this.new_error.errors.import_file[0];
          //console.log('check error: ', this.new_error)
        });
      },
    }
  }
</script>
