<template>
  <v-card class="mx-auto" width="85%" outlined>
    <v-card-title>
      View User
      <v-spacer></v-spacer>
      <v-btn :to="{ name: 'users.index'}" class="mx-2" fab dark small color="primary" right style="text-decoration: none;">
        <v-icon dark>mdi-keyboard-backspace</v-icon>
      </v-btn>
    </v-card-title>
    <v-simple-table>
      <template v-slot:default>
          <thead>
            <tr>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="text-left">Title</th>
              <td>{{ user.name }}</td>
            </tr>
            <tr>
              <th class="text-left">Description</th>
              <td>{{ user.email }}</td>
            </tr>
            <tr>
              <th class="text-left">Phone Number</th>
              <td>{{ user.phone_number }}</td>
            </tr>
            <tr>
              <th class="text-left">Role</th>
              <td>{{ user.users_get_roles.title }}</td>
            </tr>
          </tbody>
        </template>
    </v-simple-table>

  </v-card>
</template>

<script>
  export default {
    data() {
      return {
        user: {
          name: '',
          email: '',
          phone_number:'',
          users_get_roles:{
            id:'',
            title:'',
          },
        },
      }
    },
    mounted() {
      this.getUser();
    },

    methods: {
      getUser() {
        this.axios.get(`users/${this.$route.params.id}/view`)
        .then(response => {
          console.log(response.data);
          this.user = response.data;
        })
        .catch(error => {
          console.log(error)
        })
      },
    }
  }
</script>
