<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-card class="mx-auto p-4" width="85%" raised>
        <v-card-title>
          Repayments
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="repayments"
          :search="search"
          class="elevation-1"
        ></v-data-table>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      search:'',
      headers: [
        {
          text: 'ID',
          align: 'start',
          sortable: true,
          value: 'id',
        },
        { text: 'Title', value: 'title' },
        { text: 'Amount', value: 'amount'},
        { text: 'Due Date', value: 'due_date' },
        { text: 'Paid On',value: 'paid_on'}
      ],
      repayments: []
    }
  },
  created(){
    this.$store.commit('SET_LAYOUT', 'app-layout')
  },
  mounted() {
    this.getRepayments()
  },

  methods: {
    getRepayments() {
      this.axios.get(`loans/${this.$route.params.loan_id}/repayments`)
      .then(response =>{
        this.repayments = response.data;
      })
      .catch(error => {
        console.log(error);
      })
    }
  }
}
</script>
