<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-card class="mx-auto p-4" width="85%" raised>
        <v-card-title>
          Add Loan
          <v-spacer></v-spacer>
          <v-btn :to="{ name: 'loans.index'}" class="mx-2" dark color="primary" fab small right style="text-decoration: none;">
            <v-icon dark>mdi-arrow-left</v-icon>
          </v-btn>
        </v-card-title>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-select
            v-if = "this.$auth.user().role_id == 1 || this.$auth.user().role_id == 2"
            :items = "ngos"
            item-text = "name"
            item-value = "id"
            v-model="loans.ngo_id"
            label="Select NGO"
            v-on:change = "getShgsForAdmin"
            required
          ></v-select>

          <v-select
            v-if = "(this.$auth.user().role_id == 1 || this.$auth.user().role_id == 2) && this.show_self_help_groups == '1'"
            v-model="loan.self_help_group_id"
            :items="admin_self_help_groups"
            item-text = "name"
            item-value = "id"
            label="Select Self Help Group"
            v-on:change = "getEntrepreneurs"
          ></v-select>
          <v-select
            v-if = "this.$auth.user().role_id == 3"
            v-model="loan.self_help_group_id"
            :items="self_help_groups"
            item-text = "name"
            item-value = "id"
            label="Select Self Help Group"
            v-on:change = "getEntrepreneurs"
          ></v-select>

          <v-select
            v-if= "show_users == '1'"
            v-model="loan.user_id"
            :items="users"
            item-text = "name"
            item-value = "id"
            label="Select User to Assign Loan to"
          ></v-select>

          <v-select
            v-model="loan.loan_scheme_id"
            :items="loan_schemes"
            item-text = "title"
            item-value = "id"
            label="Select Loan Scheme"
          ></v-select>

          <v-text-field
            v-model="loan.loan_amount"
            label="Loan Amount"
            required
          ></v-text-field>

          <v-text-field
            v-model="loan.interest_rate"
            label="Interest Rate"
          ></v-text-field>

          <v-text-field
            v-model="loan.date_of_disbursement"
            label="Date of Disbursement"
            required
          ></v-text-field>

          <v-btn
            :disabled="!valid"
            color="success"
            class="mr-4"
            @click="submit"
          >
            Submit
          </v-btn>
        </v-form>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data(){
    return{
      valid: true,
      loan: {
        ngo_id:'',
        self_help_group_id:'',
        user_id:'',
        loan_scheme_id:'',
        loan_amount:'',
        interest_rate:'',
        date_of_disbursement:'',
      },
      admin_self_help_groups: [],
      self_help_groups:[],
      users: [],
      loan_schemes: [],
      show_self_help_groups: '0',
      show_users:'0',
      ngo_sectors:[],
      loan_schemes:[],
    }
  },

  mounted(){
    this.getShgsForNgoAdmin()
    this.getLoanSchemes()
  },
  methods: {
    getShgsForAdmin(){
      axios.get(`ngos/${this.loan.ngo_id}/self-help-groups`)
      .then(response => {
        this.admin_self_help_groups = response.data;
        this.show_self_help_groups ='1';
      })
      .catch(error => {
        console.log(error)
      })
    },
    getShgsForNgoAdmin(){
      if(this.$auth.user().role_id == 3)
      {
        axios.get(`ngos/self-help-groups`)
        .then(response => {
          this.self_help_groups = response.data;
          this.show_self_help_groups ='1';
        })
        .catch(errors => {
          console.log(error)
        })
      }
    },
    getEntrepreneurs(){
      axios.get(`users/${this.loan.self_help_group_id}/women-entrepreneurs`)
      .then(response => {
        this.users = response.data;
        this.show_users = '1';
      })
      .catch(errors => {
        console.log(errors)
      })
    },
    getLoanSchemes(){
      axios.get(`loan-schemes`)
      .then(response => {
        this.loan_schemes = response.data;
      })
    },

    submit() {
      this.errors = {};
      axios.post(`/loans/store`, this.loan)
      .then(response => {
        console.log("Message sent!");
        this.$router.push(`/loans`);
      })
      .catch(error => {
        console.log("error");
      });
    }
  }
};
</script>
