<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-card class="mx-auto p-4" width="85%" raised>
        <v-card-title>
          Loans
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
          <v-spacer></v-spacer>
          <v-btn v-if="this.$auth.user().role_id == 1 || this.$auth.user().role_id == 2 || this.$auth.user().role_id == 3" :to="{ name: 'loans.create'}" class="mx-2 d-none d-md-flex d-lg-flex d-xl-flex" dark color="primary" right style="text-decoration: none;">
            <v-icon dark>mdi-plus</v-icon>
          </v-btn>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="loans"
          :search="search"
          class="elevation-1"
        ></v-data-table>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      search:'',
      headers: [
        {
          text: 'ID',
          align: 'start',
          sortable: true,
          value: 'id',
        },
        { text: 'User', value: 'user_id' },
        { text: 'Loan Amount', value: 'loan_amount' },
        { text: 'Interest Rate', value: 'interest_rate'},
        { text: 'Date Of Disbursement', value: 'date_of_disbursement' },
      ],
      loans: []
    }
  },
  created(){
    this.$store.commit('SET_LAYOUT', 'app-layout')
  },
  mounted() {
    this.getLoans()
  },

  methods: {
    getLoans() {
      this.axios.get(`loans`)
      .then(response =>{
        console.log(this.$auth.user().role_id)
        console.log(response.data);
        this.loans = response.data;
      })
      .catch(error => {
        console.log(error);
      })
    }
  }
}
</script>
